*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background: rgb(25, 25, 25);
}
h1{
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-family: "Special Elite", monospace;
    font-size: 3em;
    text-align: center;
    color: rgb(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
}
.animacao{
    animation: cursor 500ms steps(40) infinite normal,
    digitando 4s steps(40) 1s normal;
}
@keyframes cursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
}
    to{
        border-right-color: transparent;
}
}
@keyframes digitando{
    from{
        width: 0;
    }
    to{
        width: 10em;
    }
}